#root {
  background-color: cadetblue;
  height: 100vh;
}

/* #main-container {
  padding-right: 0px;
  padding-left: 0px;
} */

.navbar {
  margin-left: -5px;
  
}

#ninaKoller {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 1%;
  color: floralwhite;
}

#subHeading {
  text-align: center;
  padding: 2%;
  font-size: medium;
  font-style: italic;
  color: floralwhite;
}

#profilePic {
  border-style: solid;
  border-color: floralwhite;
}

.bio-text {
  margin-top: 50px;
}

.profile-links {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.profile-links a {
  color: lightcyan;
  font-size: large;
}
/* Portfolio Page */
/* .portfolio-container {
  margin-left: 15px;
} */

.live-app {
  margin-right: 4px;
}

.project-row {
  padding-bottom: 1rem;
}

.page-heading {
  color: floralwhite;
}

.portfolio-col-img {
  margin-bottom: 15px;
}

.dropdown {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkslategrey;
}